<% include header %>


<div class="container">
  <div class="starter-template">
    <h1>Bootstrap starter template</h1>
      <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
  </div>
</div><!-- /.container -->
		
<h2>ABOUT</h2>
<h3>ABOUT</h3>
<h4>ABOUT</h4>

<% include footer %>