<% include header %>
<link rel="stylesheet" type="text/css" href="../js/GridLoadingEffects/css/component.css" />

<div class="container marketing">
<!-- PAGE-HEADER-->
	<div class="page-header">
		<h2><%-title %></h2>
			<p>Should one happen to tickle your fancy, you may click on it to explore in more detail.</p>
			<!-- BREADCRUMB -->
			<ul class="breadcrumb">
				<li><a href="#">Home</a> <span class="divider">&rarr;</span></li>
				<li><a href="/projects">Projects</a> <span class="divider">&rarr;</span></li>
				<li class="active">Design</li>
			</ul>
			<!--END: BREADCRUMB -->
	</div>
<!-- PAGE-HEADER-->
</div>  
		
	<!-- CONTENT CONTAINER-->
		<div class="container">
			
				<!-- FILTER-->
			<!-- just add your TAG to data-filter="ADD HERE" -->	
			<!-- and then add your same TAG to portfolio item class="ADD HERE" -->
			<div class="color-bottom-line center">
				<div class="well text-center">

						<div id="filters">
						
<button class="filter" data-filter="all"><a href="/projects">All</a></button>
<button class="filter" data-filter=".category-1"><a href="/projects/design">Design</a></button>
<button class="filter" data-filter=".category-2"><a href="/projects/traditional">Traditional</a></button>
<button class="filter" data-filter=".category-3"><a href="/projects/dataviz">Data Viz</a></button>
<button class="filter" data-filter=".category-3"><a href="/projects/programs">Programs</a></button>
<button class="filter" data-filter=".category-4">UX/UI</button>
						</div>
					</div>
			</div>
							
		<!--END: FILTER-->
		
<!--###################-->
<!-- START PORTFOLIO ITEMS CONTAINER -->
<!--###################-->
<div class="container">
	<ul class="grid effect-1" id="grid">
		<li class="mix category-1 col-xs-3 col-sm-3" data-my-order="4"><a href="design/condom-pope"><img class="img img-resizable" src="/img/icons/design/pope.jpg"></a></li>
		<li class="mix category-2 col-xs-3 col-sm-3" data-my-order="2"><a href="#"><img class="img img-resizable" src="/img/icons/design/DESSERT1.png"></a></li>
		<li class="mix category-1 col-xs-3 col-sm-3" data-my-order="3"><a href="#"><img src="/img/icons/design/Illustration.jpg"></a></li>
		<li><a href="#"><img src="/img/icons/traditional/ChelseaSelfPortrait.jpg"></a></li>
		<li><a href="#"><img src="/img/paperbag.jpg"></a></li>
		<li><a href="#"><img src="/img/paperbag.png"></a></li>
		<li><a href="http://drbl.in/fGhI"><img src="images/5.jpg"></a></li>
		<li><a href="http://drbl.in/fKCf"><img src="images/6.jpg"></a></li>
		<li><a href="http://drbl.in/fLBG"><img src="images/7.jpg"></a></li>
		<li><a href="http://drbl.in/fPEY"><img src="images/8.jpg"></a></li>
		<li><a href="http://drbl.in/fWwG"><img src="images/9.jpg"></a></li>
		<li><a href="http://drbl.in/fQdt"><img src="images/12.png"></a></li>
		<li><a href="http://drbl.in/fHaa"><img src="images/13.png"></a></li>
		<li><a href="http://drbl.in/gXMo"><img src="images/10.png"></a></li>
		<li><a href="http://drbl.in/gXMn"><img src="images/11.png"></a></li>
		<li><a href="http://drbl.in/fzYo"><img src="images/2.jpg"></a></li>
		<li><a href="http://drbl.in/fARU"><img src="images/14.png"></a></li>
		<li><a href="http://drbl.in/fWMM"><img src="images/1.jpg"></a></li>
		<li><a href="http://drbl.in/fWPV"><img src="images/3.jpg"></a></li>
		<li><a href="http://drbl.in/fWMT"><img src="images/4.jpg"></a></li>
		<li><a href="http://drbl.in/fGhI"><img src="images/5.jpg"></a></li>
		<li><a href="http://drbl.in/fKCf"><img src="images/6.jpg"></a></li>
		<li><a href="http://drbl.in/fLBG"><img src="images/7.jpg"></a></li>
		<li><a href="http://drbl.in/fPEY"><img src="images/8.jpg"></a></li>
		<li><a href="http://drbl.in/fWwG"><img src="images/9.jpg"></a></li>
		<li><a href="http://drbl.in/fQdt"><img src="images/12.png"></a></li>
		<li><a href="http://drbl.in/fHaa"><img src="images/13.png"></a></li>
		<li><a href="http://drbl.in/gXMo"><img src="images/10.png"></a></li>
		<li><a href="http://drbl.in/gXMn"><img src="images/11.png"></a></li>
		<li><a href="http://drbl.in/fzYo"><img src="images/2.jpg"></a></li>
		<li><a href="http://drbl.in/fARU"><img src="images/14.png"></a></li>
		<li><a href="http://drbl.in/fWMM"><img src="images/1.jpg"></a></li>
		<li><a href="http://drbl.in/fWPV"><img src="images/3.jpg"></a></li>
		<li><a href="http://drbl.in/fWMT"><img src="images/4.jpg"></a></li>
		<li><a href="http://drbl.in/fGhI"><img src="images/5.jpg"></a></li>
		<li><a href="http://drbl.in/fKCf"><img src="images/6.jpg"></a></li>
		<li><a href="http://drbl.in/fLBG"><img src="images/7.jpg"></a></li>
		<li><a href="http://drbl.in/fPEY"><img src="images/8.jpg"></a></li>
		<li><a href="http://drbl.in/fWwG"><img src="images/9.jpg"></a></li>
		<li><a href="http://drbl.in/fQdt"><img src="images/12.png"></a></li>
		<li><a href="http://drbl.in/fHaa"><img src="images/13.png"></a></li>
		<li><a href="http://drbl.in/gXMo"><img src="images/10.png"></a></li>
		<li><a href="http://drbl.in/gXMn"><img src="images/11.png"></a></li>
		<li><a href="http://drbl.in/fzYo"><img src="images/2.jpg"></a></li>
		<li><a href="http://drbl.in/fARU"><img src="images/14.png"></a></li>
		<li><a href="http://drbl.in/fWMM"><img src="images/1.jpg"></a></li>
		<li><a href="http://drbl.in/fWPV"><img src="images/3.jpg"></a></li>
		<li><a href="http://drbl.in/fWMT"><img src="images/4.jpg"></a></li>
		<li><a href="http://drbl.in/fGhI"><img src="images/5.jpg"></a></li>
		<li><a href="http://drbl.in/fKCf"><img src="images/6.jpg"></a></li>
		<li><a href="http://drbl.in/fLBG"><img src="images/7.jpg"></a></li>
		<li><a href="http://drbl.in/fPEY"><img src="images/8.jpg"></a></li>
		<li><a href="http://drbl.in/fWwG"><img src="images/9.jpg"></a></li>
		<li><a href="http://drbl.in/fQdt"><img src="images/12.png"></a></li>
		<li><a href="http://drbl.in/fHaa"><img src="images/13.png"></a></li>
		<li><a href="http://drbl.in/gXMo"><img src="images/10.png"></a></li>
		<li><a href="http://drbl.in/gXMn"><img src="images/11.png"></a></li>
		<li><a href="http://drbl.in/fzYo"><img src="images/2.jpg"></a></li>
		<li><a href="http://drbl.in/fARU"><img src="images/14.png"></a></li>
		<li><a href="http://drbl.in/fWMM"><img src="images/1.jpg"></a></li>
		<li><a href="http://drbl.in/fWPV"><img src="images/3.jpg"></a></li>
		<li><a href="http://drbl.in/fWMT"><img src="images/4.jpg"></a></li>
		<li><a href="http://drbl.in/fGhI"><img src="images/5.jpg"></a></li>
		<li><a href="http://drbl.in/fKCf"><img src="images/6.jpg"></a></li>
		<li><a href="http://drbl.in/fLBG"><img src="images/7.jpg"></a></li>
		<li><a href="http://drbl.in/fPEY"><img src="images/8.jpg"></a></li>
		<li><a href="http://drbl.in/fWwG"><img src="images/9.jpg"></a></li>
		<li><a href="http://drbl.in/fQdt"><img src="images/12.png"></a></li>
		<li><a href="http://drbl.in/fHaa"><img src="images/13.png"></a></li>
		<li><a href="http://drbl.in/gXMo"><img src="images/10.png"></a></li>
		<li><a href="http://drbl.in/gXMn"><img src="images/11.png"></a></li>
		<li><a href="http://drbl.in/fzYo"><img src="images/2.jpg"></a></li>
		<li><a href="http://drbl.in/fARU"><img src="images/14.png"></a></li>
		<li><a href="http://drbl.in/fWMM"><img src="images/1.jpg"></a></li>
		<li><a href="http://drbl.in/fWPV"><img src="images/3.jpg"></a></li>
		<li><a href="http://drbl.in/fWMT"><img src="images/4.jpg"></a></li>
		<li><a href="http://drbl.in/fGhI"><img src="images/5.jpg"></a></li>
		<li><a href="http://drbl.in/fKCf"><img src="images/6.jpg"></a></li>
		<li><a href="http://drbl.in/fLBG"><img src="images/7.jpg"></a></li>
		<li><a href="http://drbl.in/fPEY"><img src="images/8.jpg"></a></li>
		<li><a href="http://drbl.in/fWwG"><img src="images/9.jpg"></a></li>
		<li><a href="http://drbl.in/fWPV"><img src="images/3.jpg"></a></li>
		<li><a href="http://drbl.in/fGhI"><img src="images/5.jpg"></a></li>
		<li><a href="http://drbl.in/fzYo"><img src="images/2.jpg"></a></li>
	</ul>
</div>
<script src="/js/GridLoadingEffects/js/masonry.pkgd.min.js"></script>
<script src="/js/GridLoadingEffects/js/imagesloaded.js"></script>
<script src="/js/GridLoadingEffects/js/classie.js"></script>
<script src="/js/GridLoadingEffects/js/AnimOnScroll.js"></script>
<script>
	$(function(){
	$('#container').mixItUp();	
});
</script>
<script>
	new AnimOnScroll( document.getElementById( 'grid' ), {
		minDuration : 0.4,
		maxDuration : 0.7,
		viewportFactor : 0.2
	} );
</script>

<% include footer %>