</body>
<hr>
<h6>
</br>
  <p class="pull-right"><a href="#">Back to top</a></p>
	<p>2013 Chelsea Pattee . <a href="#">Privacy</a> . <a href="#">Terms</a></p>
</h6>

<!--=========SCRIPTS==============-->

</html>