</body>
<h6 style="height:3px; background-color:red">
  <p class="pull-right"><a href="#">Back to top</a></p>
	<p>2013 Chelsea Pattee . <a href="#">Privacy</a> . <a href="#">Terms</a></p>
</h6>

<!--=========SCRIPTS==============-->

</html>