<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%-title %></title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/bootstrap-theme.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/screen.css">
  <link rel="stylesheet" href="/css/screen-ie6.css">

  <script src="http://localhost:35729/livereload.js"></script>
</head>
<body>
	<div class="container">
	<nav class="navbar navbar-inverse " role="navigation">
		 <div class="container">
			 <div class="navbar-header">
				 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					 <span class="sr-only">Toggle navigation</span>
					 <span class="icon-bar"></span>
					 <span class="icon-bar"></span>
					 <span class="icon-bar"></span>
				 </button>
				 <a class="navbar-brand" href="/">CHELSEA</a>
			 </div>
			 <div id="navbar" class="collapse navbar-collapse">
				 <ul class="nav navbar-nav">
					 <li><a href="/projects">Projects</a></li>
					 <li><a href="/about">About</a></li>
					 <li><a href="/contact">Contact</a></li>
				 </ul>
			 </div><!--/.nav-collapse -->
		 </div>
	 </nav>
	</div>



