<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%-title %></title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/bootstrap-theme.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
	<link rel="stylesheet" href="/js/jQuery_filterable_portfolio/source/stylesheets/screen-ie6.css">
	<link rel="stylesheet" href="/js/jQuery_filterable_portfolio/source/stylesheets/screen.css">
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="http://localhost:35729/livereload.js"></script>

	<!-- Isotope init script -->
<script type="text/javascript" src="/js/jquery.waitforimages.js"></script> 
<script type="text/javascript" src="/js/jquery.isotope.min.js"></script>
<!-- / Isotope init script -->
	<script type="text/javascript" src="/js/html5shiv.js"></script> 
	<script src="http://platform.twitter.com/widgets.js"></script>
	<script src="/js/google-code-prettify/prettify.js"></script>
	<script src="/js/holder.js"></script>
	<script src="/js/application.js"></script>
	<script type="text/javascript" src="/js/modernizr.custom.js"></script>
	<script src="/js/toucheffects.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/bootstrap-transition.js"></script>
	<script src="/js/bootstrap-alert.js"></script>
	<script src="/js/bootstrap-modal.js"></script>
	<script src="/js/bootstrap-dropdown.js"></script>
	<script src="/js/bootstrap-scrollspy.js"></script>
	<script src="/js/bootstrap-tab.js"></script>
	<script src="/js/bootstrap-tooltip.js"></script>
	<script src="/js/bootstrap-popover.js"></script>
	<script src="/js/bootstrap-button.js"></script>
	<script src="/js/bootstrap-collapse.js"></script>
	<script src="/js/bootstrap-carousel.js"></script>
	<script src="/js/bootstrap-typeahead.js"></script>
	<script src="/js/bootstrap-affix.js"></script>

</head>
<body>
	<div class="container">
	<nav class="navbar navbar-inverse " role="navigation">
		 <div class="container">
			 <div class="navbar-header">
				 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					 <span class="sr-only">Toggle navigation</span>
					 <span class="icon-bar"></span>
					 <span class="icon-bar"></span>
					 <span class="icon-bar"></span>
				 </button>
				 <a class="navbar-brand" href="/">CHELSEA</a>
			 </div>
			 <div id="navbar" class="collapse navbar-collapse">
				 <ul class="nav navbar-nav">
					 <li><a href="/projects">Projects</a></li>
					 <li><a href="/about">About</a></li>
					 <li><a href="/contact">Contact</a></li>
				 </ul>
			 </div><!--/.nav-collapse -->
		 </div>
	 </nav>
	</div>


