<% include header %>
<link rel="stylesheet" href="/css/frontpage.css">
<!-- Carousel================================================== -->
<div class="container">
<div id="myCarousel" class="carousel slide">
	<div class="carousel-inner">
		<div class="item active">
			<img src="img/paperbag_a.jpg" alt="">
				<div class="carousel-caption">
					<p class="lead">WELCOME</p>
					<p><strong>to my artwork. I like jokes. And shiny things.</strong></p>               
				</div>
		</div>
	</div>
</div><!-- /.carousel -->

<!-- Category Icons=================================== -->
<!--TEST TOOLTIP-->
<div class="container-fluid" role="main">
	<ul class="thumbnails" id="hover-cap-4col">
<li class="col-xs-4 col-sm-4 col-md-4 col-lg-4 lead">
		<a href="/projects/dataviz">
			<div  class="ratio img-responsive img-circle" style="background-image: url(../img/cat_icons/datavizSlice.png);">
				<div class="caption">
					<h4>Data Viz</h4>
						<p>Large cultural sets of data, prettified.</p>
				</div>
			</div>
		</a>
<li class="col-xs-6 col-sm-3 col-md-3 col-lg-3 lead">
			<div  class="ratio img-responsive img-circle color3"></div>
<li class="col-xs-9 col-sm-4 col-md-4 col-lg-4 lead">
		<a href="/projects/design">
			<div  class="ratio img-responsive img-circle" style="background-image: url(../img/cat_icons/Graphics.png);">
				<div class="caption">
					<h4>Design</h4>
						<p>Illustrations, pixel art, and other designs.</p>
				</div>
			</div>
		</a>
<li class="col-xs-7 col-sm-3 col-md-3 col-lg-3 lead">
	<div  class="ratio img-responsive img-circle color2"></div>
<li class="col-xs-8 col-sm-3 col-md-3 col-lg-3 lead">
		<a href="/projects/programs/programs2">
			<div  class="ratio img-responsive img-circle" style="background-image: url(../img/cat_icons/Programs.png);">
				<div class="caption">
					<h4>Programs</h4>
						<p>Processing sketches, things that move, colors, and more!</p>
				</div>
			</div>
		</a>
<li class="col-xs-6 col-sm-3 col-md-3 col-lg-3 lead">
			<div  class="ratio img-responsive img-circle color4"></div>
<li class="col-xs-7 col-sm-3 col-md-3 lead">
		<a href="/projects/uxui">
			<div  class="ratio img-responsive img-circle" style="background-image: url(../img/cat_icons/UXUI.png);">
				<div class="caption">
					<h4>UX/UI</h4>
						<p>User interface, user experience, iPad apps, website mockups.</p>
				</div>
			</div>
		</a>
<li class="col-xs-4 col-sm-pull-0 col-md-pull-0 lead">
		<a href="/projects/installations">
			<div  class="ratio img-responsive img-circle" style="background-image: url(../img/cat_icons/Installation.png);">
				<div class="caption">
					<h4>Installation</h4>
						<p>Art installed</br>& performed.</p>
				</div>
			</div>
		</a>
<li class="col-xs-3 col-sm-push-0 lead">
		<a href="/projects/traditional">
			<div  class="ratio img-responsive img-circle" style="background-image: url(../img/cat_icons/Traditional.png);">
				<div class="caption">
					<h4>Traditional</h4>
						<p>Paintings, collages, etc.</p>
				</div>
			</div>
		</a>
<li class="col-xs-3 col-sm-2 lead">
	<div  class="ratio img-responsive img-circle color3"></div>	
<li class="col-xs-7 col-sm-2 col-md-2 lead">
	<div  class="ratio img-responsive img-circle color1"></div>
<li class="col-xs-9 col-sm-1 col-md-1 lead">
	<div  class="ratio img-responsive img-circle" style="background-image: url(../img/cat_icons/0014.png);">
	</div>
<li class="col-xs-6 col-sm-2 col-md-2 lead">
	<div  class="ratio img-responsive img-circle color1"></div>
<li class="col-xs-1 col-sm-3-offset-4 lead">
	<div  class="ratio img-responsive img-circle color3" style="background-image: url(../img/cat_icons/002.png);">
	</div>
<li class="col-xs-3 col-sm-offset-2 lead">
	<div  class="ratio img-responsive img-circle color7"></div>
<li class="col-xs-1 lead">
	<div  class="ratio img-responsive img-circle" style="background-image: url(../img/cat_icons/008.png);">
	</div>
<li class="col-xs-8 col-sm-2 col-md-2 lead">
	<div  class="ratio img-responsive img-circle color6"></div>
<li class="col-xs-6 col-sm-3 col-md-3 lead">
	<div  class="ratio img-responsive img-circle color1"></div>
<li class="col-xs-1 col-sm-2 col-sm-offset-7 col-md-offset-5 col-lg-3 lead">
	<div  class="ratio img-responsive img-circle color5"></div>

<!--=========little====================-->
<!--li class="col-xs-9 col-sm-4 col-md-4 lead">
		<a href="projects.html#graphics">
			<div  class="ratio img-responsive img-circle" style="background-image: url(../img/cat_icons/datavizSlice.png);">
				<div class="caption">
					<h4>Graphics</h4>
						<p>Illustrations, pixel art, and other designs.</p>
				</div>
			</div>
		</a>
<li class="col-xs-7 col-sm-4 col-md-3 lead">
		<a href="projects.html#graphics">
			<div  class="ratio img-responsive img-circle" style="background-image: url(../img/cat_icons/Programs.png);">
				<div class="caption">
					<h4>Programs</h4>
						<p>Illustrations, pixel art, and other designs.</p>
				</div>
			</div>
		</a>
<li class="col-xs-6 col-sm-2 col-md-2 lead">
		<a href="projects.html#graphics">
			<div  class="ratio img-responsive img-circle" style="background-image: url(../img/cat_icons/datavizSlice.png);">
				<div class="caption">
					<h4>Graphics</h4>
						<p>Illustrations, pixel art, and other designs.</p>
				</div>
			</div>
		</a>
<li class="col-xs-7 col-sm-2 col-md-2 lead">
		<a href="projects.html#graphics">
			<div  class="ratio img-responsive img-circle" style="background-image: url(../img/cat_icons/datavizSlice.png);">
				<div class="caption">
					<h4>Graphics</h4>
						<p>Illustrations, pixel art, and other designs.</p>
				</div>
			</div>
		</a>
<li class="col-xs-9 col-sm-2 col-md-2 lead">
		<a href="projects.html#graphics">
			<div  class="ratio img-responsive img-circle" style="background-image: url(../img/cat_icons/datavizSlice.png);">
				<div class="caption">
					<h4>Graphics</h4>
						<p>Illustrations, pixel art, and other designs.</p>
				</div>
			</div>
		</a>
<li class="col-xs-7 col-sm-2 col-md-2 lead">
		<a href="projects.html#graphics">
			<div  class="ratio img-responsive img-circle" style="background-image: url(../img/cat_icons/datavizSlice.png);">
				<div class="caption">
					<h4>Graphics</h4>
						<p>Illustrations, pixel art, and other designs.</p>
				</div>
			</div>
		</a>
<li class="col-xs-6 col-sm-2 col-md-2 lead">
		<a href="projects.html#graphics">
			<div  class="ratio img-responsive img-circle" style="background-image: url(../img/cat_icons/datavizSlice.png);">
				<div class="caption">
					<h4>Graphics</h4>
						<p>Illustrations, pixel art, and other designs.</p>
				</div>
			</div>
		</a>
<li class="col-xs-10 col-sm-2 col-md-2 lead">
		<a href="projects.html#graphics">
			<div  class="ratio img-responsive img-circle" style="background-image: url(../img/cat_icons/datavizSlice.png);">
				<div class="caption">
					<h4>Graphics</h4>
						<p>Illustrations, pixel art, and other designs.</p>
				</div>
			</div>
		</a>
<li class="col-xs-8 col-sm-2 col-md-2 lead">
		<a href="projects.html#graphics">
			<div  class="ratio img-responsive img-circle" style="background-image: url(../img/cat_icons/datavizSlice.png);">
				<div class="caption">
					<h4>Graphics</h4>
						<p>Illustrations, pixel art, and other designs.</p>
				</div>
			</div>
		</a>
<li class="col-xs-6 col-sm-2 col-md-2 lead">
		<a href="projects.html#graphics">
			<div  class="ratio img-responsive img-circle" style="background-image: url(../img/cat_icons/datavizSlice.png);">
				<div class="caption">
					<h4>Graphics</h4>
						<p>Illustrations, pixel art, and other designs.</p>
				</div>
			</div>
		</a>
	</ul>

<!---/.category icons-->
</div><!--/container===============-->
</div>
	<script>
	$(document).ready(function(){
		$("[rel='tooltip']").tooltip();    
		$('#hover-cap-4col .img-circle').hover(
			function(){
				$(this).find('.caption').slideDown(250);
			},
			function(){
				$(this).find('.caption').slideUp(250);
			}
		);    
	});           
  </script>
<% include footer %>