<% include header %>
<style>
@import url('//cdn.jsdelivr.net/font-zero-width/1.0.0/zero-width.css'); 
</style>
<!--button class="sort" data-sort="my-order:asc">Ascending Order</button>
<button class="sort" data-sort="my-order:desc">Descending Order</button-->
<link rel="stylesheet" href="/css/projects.css">
<div class="container marketing">
<!-- PAGE-HEADER-->
	<div class="page-header">
		<h2><%-title %></h2>
			<!-- BREADCRUMB -->
			<ul class="breadcrumb">
				<li><a href="#">Home</a> <span class="divider">&rarr;</span></li>
				<li class="active">Projects</li>
			</ul>
			<!--END: BREADCRUMB -->
	</div>
<!-- PAGE-HEADER-->
</div>  
<div class="controls">
  <label>Filter:</label>
  
  <button class="filter active" data-filter="all">All</button>
  <button class="filter" data-filter=".category-1">Category 1</button>
  <button class="filter" data-filter=".category-2">Category 2</button>
  <button class="filter" data-filter=".category-3">Category 3</button>
</div>
<ul id="Container" class="container">
  <li class="mix category-1" data-myorder="1"><img class="img" src="/img/icons/dataviz/3.png"></li>
  <li class="mix category-1" data-myorder="2"><img class="img" src="/img/icons/dataviz/4.png"></li>
  <li class="mix category-1" data-myorder="3"><img class="img" src="/img/icons/dataviz/5.png"></li>
  <li class="mix category-2" data-myorder="4"><img class="img" src="/img/icons/dataviz/9.png"></li>
  <li class="mix category-3" data-myorder="5"><img class="img" src="/img/icons/design/pixelROBOT.png"></li>
  <li class="mix category-1" data-myorder="6"><img class="img" src="/img/project/puppets/backdrops/3.jpg"></li>
  <li class="mix category-2" data-myorder="7"><img class="img" src="/img/icons/design/Logo_Oscillate2.gif"></li>
  <li class="mix category-2" data-myorder="8"></li>
  <li class="mix category-1" data-myorder="5"></li>
  <li class="mix category-1" data-myorder="6"></li>
  <li class="mix category-2" data-myorder="7"></li>
  <li class="mix category-2" data-myorder="8"></li>
  
  <div class="gap"></div>
  <div class="gap"></div>
</ul>
<!--script>
	$(function(){
	$('#Container').mixItUp();	
});
</script-->
<script>
$(function(){
  var $container = $('#Container'),
      $controls = $('.controls');
  
  $container.mixItUp({
    animation: {
      duration: 700,
      effects: 'fade translateY(600%) stagger(35ms)',
      easing: 'cubic-bezier(0.86, 0, 0.07, 1)',
      reverseOut: true
    },
    controls: {
      enable: false
    }
  });
  
  $controls.on('click', '.filter', function(){
    var $btn = $(this),
        filter = $btn.attr('data-filter');
    
    $btn.addClass('active').siblings().removeClass('active');

    $container.mixItUp('filter', 'none', function(){
      $container.mixItUp('filter', filter);
    });
  });
  
});
</script>

<% include footer %>