<% include header %>
<div class="container-fluid">
<button class="filter" data-filter="all">All</button>
<button class="filter" data-filter=".category-1">Design</button>
<button class="filter" data-filter=".category-2">Traditional</button>
<button class="filter" data-filter=".category-3">Data Viz</button>
<button class="filter" data-filter=".category-4">UX/UI</button>

<!--button class="sort" data-sort="my-order:asc">Ascending Order</button>
<button class="sort" data-sort="my-order:desc">Descending Order</button-->

<div id="container">
	<div class="mix category-1 col-xs-3" data-my-order="1">
		<img class="img-responsive" src="/img/icons/dataviz/1.png">
	</div>
	<div class="mix category-1 col-xs-3" data-my-order="2">
		<img class="img-responsive" src="/img/icons/dataviz/1.png">
	</div>
	<div class="mix category-1 col-xs-3" data-my-order="3">
		<img class="img-responsive" src="/img/icons/dataviz/1.png">
	</div>
	<div class="mix category-3 col-xs-3" data-my-order="4">
		<img class="img-responsive" src="/img/icons/dataviz/2.png">
	</div>
	<div class="mix category-2" data-my-order="5"> bbb </div>
	<div class="mix category-2" data-my-order="6"> cccc</div>
</div>
</div>
<script>
	$(function(){
	$('#container').mixItUp();	
});
</script>

<% include footer %>